<div aria-hidden="true" class="modal fade" tabindex="-1"
     th:aria-labelledby="confirm-delete-cartlineitem-modal-label"
     th:fragment="confirmDeleteCartLineItemModal(cartLineItem)"
     th:id="'confirm-delete-cartlineitem-modal-' + ${cartLineItem.id}">
   <div class="modal-dialog">
      <div class="modal-content text-center">
         <div class="modal-header">
            <h5 class="modal-title" th:id="'confirm-delete-cartlineitem-modal-label-' + ${cartLineItem.id}">
               Delete Cart line item
            </h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
         </div>
         <div class="modal-body">
            <p th:text="'Are you sure to delete this Cart line item corresponding to ' + ${cartLineItem.sale.product.name} + ' with a Sale price of ' +  ${cartLineItem.sale.salePrice} + ' $ ?'"></p>
         </div>
         <div class="modal-footer justify-content-center">
            <a class="btn btn-primary me-2 confirm-confirm-delete-cartlineitem-button"
               role="button"
               th:href="@{${'/' + API_PATHS_MAP.get('CART') + '/delete/' + cartLineItem.id}}"
               th:id="'confirm-confirm-delete-cartlineitem-button-' + ${cartLineItem.id}">
               Confirm
            </a>
            <button class="btn btn-secondary ms-2" data-bs-dismiss="modal" type="button">No</button>
         </div>
      </div>
   </div>
</div>