<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}"
      th:with="isLoggedUser = ${loggedUser == user}, isUserFound = ${user != null}"
      th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">
<head th:replace="~{fragments/shared/head.html :: head(title = 'Account')}">

</head>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('MARKETPLACE')} + '/shared/style.css'}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/style.css'}"/>
<link href="/css/registration/style.css" rel="stylesheet" th:if="${isLoggedUser}"/>
<link rel="stylesheet" th:href="@{/css/libraries/leaflet/style.css}" th:if="${isLoggedUser}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/map/style.css'}"
      th:if="${isLoggedUser}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/calendar/style.css'}"
      th:if="${isLoggedUser}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/chart/style.css'}"
      th:if="${isLoggedUser}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/table/style.css'}"
      th:if="${isLoggedUser}"/>
<body id="account-page-start">
<div th:replace="~{fragments/shared/loader.html :: loader()}"></div>
<div th:replace="~{fragments/shared/pagination/header/marketplaceHeader.html :: marketplaceHeader()}">
</div>
<main>
   <div class="container">
      <div class="row justify-content-center">
         <noscript th:replace="~{fragments/shared/noScript.html :: noScript()}"></noscript>
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1 data-bs-toggle="tooltip"
                   th:if="${isUserFound}"
                   th:text="${(user.showIsOnline ? ((credentials.isOnline ? '🟢' : '🔴') + ' ') : '') + credentials.username + ' account 👨‍💻'}"
                   th:title="${credentials.username + (user.showIsOnline ? (' is' + (credentials.isOnline ? ' online' : ' offline')) : '')}">
                  Account</h1>
            </div>
         </div>
         <div th:if="${isUserFound}">
            <div th:class="'col-12 mt-5 py-4' + ${!isLoggedUser ? ' pb-5' : ''} + ' px-5 px-xl-0 rounded shadow border'"
                 th:with="accountUpdatedSuccessful = ${param.accountUpdatedSuccessful}, saleNotDeletedError = ${param.saleNotDeletedError}, userCantManageNotHisSaleError = ${param.userCantManageNotHisSaleError}">
               <form class="row justify-content-center" id="update-account-form"
                     method="POST"
                     name="update-account-form"
                     th:action="@{${'/' + API_PATHS_MAP.get('ACCOUNT') + '/updateAccount'}}">
                  <div
                        th:replace="~{fragments/shared/message/success/successMessage.html :: successMessage(text = 'Account updated successfully.', condition = ${accountUpdatedSuccessful != null})}"></div>
                  <div
                        th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Server ERROR, account not deleted.', condition = ${accountNotDeletedError != null})}"></div>
                  <div th:each="userError : ${userErrors}">
                     <div th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = ${userError.getDefaultMessage()}, condition = ${userError != null})}"></div>
                  </div>
                  <div th:each="credentialsError : ${credentialsErrors}">
                     <div th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = ${credentialsError.getDefaultMessage()}, condition = ${credentialsError != null})}"></div>
                  </div>
                  <div
                        th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Server ERROR, Sale not deleted.', condition = ${saleNotDeletedError})}"></div>
                  <div
                        th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'You can manage only your Sales.', condition = ${userCantManageNotHisSaleError})}"></div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-5 col-xxl-5 text-center me-3 mt-lg-2 mt-xl-0"
                       th:title="${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' user informations'">
                     <h2 class="mt-4 mt-md-3 mt-lg-3 mt-xl-3 mt-xxl-3 mb-5">User information's</h2>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'name', type = 'text', value =  ${user.name}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'surname', type = 'text', value =  ${user.surname}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property ='birth date', type = 'date', value = ${#dates.format(user.birthDate, 'yyyy-MM-dd')}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'balance', type = 'number', value = ${user.balance}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'nation', value = ${user.nation}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'email', type = 'email', value = ${user.email}, isReadOnly = true, isLoggedUser = ${isLoggedUser})}"></div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-5 col-xxl-5 text-center mt-4 mt-xl-0 ms-xl-3"
                       th:title="${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' credentials informations'">
                     <h2 class="mt-3 mb-5">Credentials information's</h2>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'username', type = 'text', value = ${credentials.username}, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'role', type = 'text', value = ${credentials.role},  isSelect = true, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'password', type = 'password', value = '', isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'confirm-password', type = 'password', value = '', isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'registered', type = 'date', value = ${#temporals.format(credentials.insertedAt, TEMPORALS_MAP.get('DATE_TIME_FORMAT'))}, isReadOnly = true, isLoggedUser = ${isLoggedUser})}"></div>
                     <div th:replace="~{fragments/marketplace/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'updated', type = 'date', value = ${#temporals.format(credentials.updatedAt, TEMPORALS_MAP.get('DATE_TIME_FORMAT'))}, isReadOnly = true, isLoggedUser = ${isLoggedUser})}"></div>
                  </div>
                  <div class="col-12 mt-5 mb-3" th:if="${isLoggedUser}">
                     <div class="row justify-content-center">
                        <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-3 col-xxl-3">
                           <button class="btn btn-lg btn-outline-success form-control py-2"
                                   data-bs-toggle="tooltip"
                                   id="confirm-update-account-button"
                                   th:title="'Confirm your new ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' informations'"
                                   type="submit">
                              Confirm
                              <i class="fas fa-check-square ms-1"></i>
                           </button>
                        </div>
                        <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-3 col-xxl-3 mt-4 mt-xl-0">
                           <button class="btn btn-lg btn-outline-warning form-control py-2" data-bs-toggle="tooltip"
                                   id="cancel-button"
                                   th:title="'Reset your ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' informations'"
                                   type="button">
                              Cancel
                              <i class="fas fa-ban ms-1"></i>
                           </button>
                        </div>
                        <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-3 col-xxl-3 mt-4 mt-xl-0"
                             data-bs-toggle="tooltip"
                             th:title="'Delete your ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' account with this email: ' + ${loggedUser != null ? loggedUser.email : 'Undefined'}">
                           <button class="btn btn-lg btn-outline-danger form-control py-2"
                                   data-bs-target="#confirm-delete-account-modal"
                                   data-bs-toggle="modal"
                                   id="delete-account-button"
                                   type="button">
                              Delete Account
                              <i class="fas fa-trash ms-1"></i>
                           </button>
                           <div th:replace="~{fragments/marketplace/account/modal/confirmDeleteAccountModal.html :: confirmDeleteAccountModal(credentials = ${credentials})}"></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class="col-12 mt-5"
                 th:with="areNotSoldSaleProductsValid=${notSoldSales != null && !#lists.isEmpty(notSoldSales)}">
               <div class="row text-center">
                  <h1 th:if="${areNotSoldSaleProductsValid}"
                      th:text="${isLoggedUser ? 'Your' : 'His'} + ' Sale products (' + ${#lists.size(notSoldSales)} + ') 🏖️'"></h1>
                  <h1 th:unless="${areNotSoldSaleProductsValid}">No sale products</h1>
               </div>
            </div>
            <div class="col-12" id="sales"
                 th:with="saleDeletedSuccess = ${param.saleDeletedSuccess}, saleDeletedError = ${param.saleDeletedError}">
               <div class="row">
                  <div
                        th:replace="~{fragments/shared/message/success/successMessage.html :: successMessage(text = 'Sale deleted successfully.', condition = ${saleDeletedSuccess})}"></div>
                  <div
                        th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Server ERROR, Sale not deleted.', condition = ${saleDeletedError})}"></div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"
                       th:each="notSoldSale : ${notSoldSales}">
                     <div th:replace="~{fragments/shared/sale.html :: sale(sale = ${notSoldSale}, isLoggedUser = ${isLoggedUser}, isAccountPage = true)}"></div>
                  </div>
               </div>
            </div>
            <div class="col-12 mt-5"
                 th:with="areSoldSaleProductsValid=${soldSales != null && !#lists.isEmpty(soldSales)}">
               <div class="row text-center">
                  <h1 th:if="${areSoldSaleProductsValid}"
                      th:text="${isLoggedUser ? 'Your' : 'His'} + ' sold Sale products (' + ${#lists.size(soldSales)} + ') 📋'"></h1>
                  <h1 th:unless="${areSoldSaleProductsValid}">No sold sale products</h1>
               </div>
            </div>
            <div class="col-12">
               <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"
                       th:each="soldSale : ${soldSales}">
                     <div th:replace="~{fragments/shared/sale.html :: sale(sale = ${soldSale}, isLoggedUser = ${isLoggedUser})}"></div>
                  </div>
               </div>
            </div>
            <div class="col-12 mt-5" id="ordered-products"
                 th:with="areOrderedProductsValid=${orderedSales != null && !#lists.isEmpty(orderedSales)}">
               <div class="row text-center">
                  <h1 th:if="${areOrderedProductsValid}"
                      th:text="${isLoggedUser ? 'Your' : 'His'} + ' ordered products (' + ${#lists.size(orderedSales)} + ') 🗂️'"></h1>
                  <h1 th:unless="${areOrderedProductsValid}">No ordered sale products</h1>
               </div>
            </div>
            <div th:class="'col-12' + ${isLoggedUser ? '' : ' mb-5'}">
               <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"
                       th:each="orderedSale : ${orderedSales}">
                     <div th:replace="~{fragments/shared/sale.html :: sale(sale = ${orderedSale}, isLoggedUser = ${isLoggedUser})}"></div>
                  </div>
               </div>
            </div>
            <div th:if="${isLoggedUser}">
               <div class="col-12 mt-5">
                  <div class="row text-center">
                     <h1 th:text="${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' stats 📋'"></h1>
                  </div>
               </div>
               <div class="col-12 mt-5">
                  <div class="row">
                     <select
                           th:replace="~{fragments/marketplace/account/stats/chart/chartTypeMenu.html :: chartTypeMenu()}"></select>
                  </div>
                  <div th:replace="~{fragments/marketplace/account/stats/chart/chartButtons.html :: chartButtons()}"></div>
                  <div class="row">
                     <div th:replace="~{fragments/marketplace/account/stats/chart/chart.html :: chart()}"></div>
                  </div>
               </div>
               <div class="col-12 mt-5">
                  <div class="row">
                     <div th:replace="~{fragments/marketplace/account/stats/calendar/calendar.html :: calendar()}"></div>
                  </div>
               </div>
               <div class="col-12 mt-5">
                  <div th:replace="~{fragments/marketplace/account/stats/map/filterButtons.html :: filterButtons()}"></div>
                  <div class="row" id="map-container">
                     <div th:replace="~{fragments/marketplace/account/stats/map/map.html :: map()}"></div>
                  </div>
               </div>
               <div class="col-12 mt-5">
                  <div class="row justify-content-center">
                     <div th:replace="~{fragments/marketplace/account/stats/table/table.html :: table(tableData = ${tableData})}"></div>
                  </div>
               </div>
               <div class="col-12 mt-5 mb-4">
                  <div class="row justify-content-center">
                     <div th:replace="~{fragments/shared/upArrow.html :: upArrow(href = 'account-page-start')}"></div>
                  </div>
               </div>
            </div>
         </div>
         <div th:unless="${isUserFound}">
            <div th:replace="~{fragments/marketplace/account/userNotFound.html :: userNotFound(username = ${searchedUsername})}"></div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/marketplace/shared/chatbot.html :: chatbot()}">
</div>
<div th:replace="~{fragments/shared/pagination/footer/footer.html :: footer()}">
</div>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/loader.js}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isLoggedUser}"
        th:src="@{/js/shared/showPassword.js}" type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isLoggedUser}"
        th:src="@{/js/registration/index.js}" type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/chatbot.js}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/index.js'}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isUserFound}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/index.js'}" type="text/javascript"></script>
<script th:if="${isLoggedUser}" th:src="@{/js/libraries/chartjs/chart.js}"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isLoggedUser}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/chart/index.js'}"
        type="text/javascript"></script>
<script th:if="${isLoggedUser}" th:src="@{/js/libraries/jspdf/jspdf.umd.min.js}"></script>
<script th:if="${isLoggedUser}" th:src="@{/js/libraries/leaflet/leaflet.js}"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isLoggedUser}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/map/index.js'}" type="text/javascript"></script>
<script th:if="${isLoggedUser}" th:src="@{/js/libraries/fullcalendar/index.global.min.js}"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:if="${isLoggedUser}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('ACCOUNT')} + '/stats/calendar/index.js'}"
        type="text/javascript"></script>
</body>

</html>