<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Cart')}">

</head>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('MARKETPLACE')} + '/shared/style.css'}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('CART')} + '/style.css'}"/>
<body>
<div th:replace="~{fragments/shared/pagination/header/marketplaceHeader.html :: marketplaceHeader()}">
</div>
<main id="cart-container">
   <div class="container" th:fragment="dynamicCartSection">
      <div class="row justify-content-center">
         <noscript th:replace="~{fragments/shared/noScript.html :: noScript()}"></noscript>
         <div class="col-12 mt-5">
            <div class="row text-center"
                 th:with="cartLineItemsStringNumber = ${#lists.isEmpty(cartLineItems) ? '' : ('(' + #lists.size(cartLineItems) + ')')}">
               <h1 th:text="${(cartLineItems != null && !#lists.isEmpty(cartLineItems) ? 'Your' : 'No') + ' Cart Products ' + cartLineItemsStringNumber + ' 👀'}">
                  Cart
               </h1>
            </div>
         </div>
         <div class="col-12 mt-5 mb-4"
              th:with="cartLineItemNotDeletedError = ${param.cartLineItemNotDeletedError != null}, userBalanceLowerThanCartPriceError = ${param.userBalanceLowerThanCartPriceError != null}, userNotBuyerAddSaleToCartError = ${param.userNotBuyerAddSaleToCartError != null}, userAddOwnSaleToCartError = ${param.userAddOwnSaleToCartError != null}, emptyCartError = ${param.emptyCartError != null}, userCartNotExistsError = ${param.userCartNotExistsError != null}">
            <div
                  th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Cart line not deleted.', condition = ${cartLineItemNotDeletedError})}"></div>
            <div
                  th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Users cannot add them Sale to them Cart.', condition = ${userAddOwnSaleToCartError})}"></div>
            <div
                  th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Order not possible, your Cart is empty.', condition = ${emptyCartError})}"></div>
            <div
                  th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Your balance is not sufficient to complete the order.', condition = ${userBalanceLowerThanCartPriceError})}"></div>
            <div
                  th:replace="~{fragments/shared/message/success/successMessage.html :: successMessage(text = 'Cart line deleted.', condition = ${cartLineItemDeletedSuccess})}"></div>
            <div th:replace="~{fragments/marketplace/cart/modal/confirmOrderModal.html :: confirmOrderModal(cart = ${cart})}"></div>
            <div class="row justify-content-center" th:each="cartLineItem : ${cartLineItems}">
               <div th:replace="~{fragments/marketplace/cart/cartLineInformation.html :: cartLineInformation(cartLineItem = ${cartLineItem})}"></div>
            </div>
            <div th:replace="~{fragments/marketplace/cart/cartTotalLineInformation.html :: cartTotalLineInformation(cart = ${cart})}"></div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer/footer.html :: footer()}">
</div>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}"
        th:src="@{/js/libraries/axios/axios.min.js}" type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/validators.js}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}"
        th:src="@{'/js/' + ${API_PATHS_MAP.get('CART')} + '/index.js'}"
        type="text/javascript"></script>
</body>

</html>