<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Order summary')}">

</head>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('MARKETPLACE')} + '/shared/style.css'}"/>
<link rel="stylesheet" th:href="@{'/css/' + ${API_PATHS_MAP.get('CART')} + '/style.css'}"/>
<body>
<div th:replace="~{fragments/shared/loader.html :: loader()}"></div>
<div th:replace="~{fragments/shared/pagination/header/marketplaceHeader.html :: marketplaceHeader()}">
</div>
<main>
   <div class="container">
      <div class="row justify-content-center">
         <noscript th:replace="~{fragments/shared/noScript.html :: noScript()}"></noscript>
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1>Order summary</h1>
            </div>
         </div>
         <div class="col-12 mt-5 mb-4">
            <div class="row justify-content-center" th:each="cartLineItem : ${cartLineItems}">
               <div th:replace="~{fragments/marketplace/cart/cartLineInformation.html :: cartLineInformation(cartLineItem = ${cartLineItem}, isOrder = true)}"></div>
            </div>
            <div th:replace="~{fragments/marketplace/cart/cartTotalLineInformation.html :: cartTotalLineInformation(cart = ${cart}, isOrder = true)}"></div>
            <div class="row text-center mt-2">
               <h4 th:text="'Order datetime: &nbsp;' + ${#temporals.format(orderInsertedAt, TEMPORALS_MAP.get('DATE_TIME_FORMAT'))}"></h4>
            </div>
            <div class="row text-center mt-2">
               <h4 th:text="'Order place: &nbsp;' + ${loggedUser.nation.name}"></h4>
            </div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/chatbot.html :: chatbot()}">
</div>
<div th:replace="~{fragments/shared/pagination/footer/footer.html :: footer()}">
</div>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/loader.js}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/chatbot.js}"
        type="text/javascript"></script>
</body>

</html>