<header th:fragment="marketplaceHeader()">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid py-1">
         <button aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
                 class="navbar-toggler"
                 data-bs-target="#navbarTogglerDemo03" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="navbar-brand ms-3">
            <a th:replace="~{fragments/shared/logo.html :: logo()}"> </a>
         </div>
         <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-2 me-5">
               <li class="nav-item">
                  <a aria-current="page" class="nav-link active" th:href="@{${'/' + API_PATHS_MAP.get('SALES')}}"
                     th:title="'Go to ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME') + ' Sales'}">
                     Sales
                     <i class="fas fa-home mx-1"></i>
                  </a>
               </li>
               <li class="nav-item" th:if="${loggedUser != null}">
                  <a class="nav-link link-primary" th:href="@{${'/' + API_PATHS_MAP.get('ACCOUNT')}}"
                     th:title="'Go to your ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME') + ' account'}">
                     Account
                     <i class="fas fa-user-alt mx-1"></i>
                  </a>
               </li>
               <li class="nav-item"
                   th:if="${loggedUser != null && #strings.contains(loggedUser.credentials.role, 'BUYER')}">
                  <a class="nav-link link-warning" th:href="@{${'/' + API_PATHS_MAP.get('CART')}}"
                     th:title="'Go to your ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME') + ' cart'}">
                     Cart
                     <i class="fas fa-cart-plus mx-1"></i>
                  </a>
               </li>
               <li class="nav-item"
                   th:if="${loggedUser != null && #strings.contains(loggedUser.credentials.role, 'SELLER')}"
                   th:title="'Publish new ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME') + ' sale'}">
                  <a class="nav-link link-success" th:href="@{${'/' + API_PATHS_MAP.get('SALES') + '/newSale'}}">
                     New Sale
                     <i class="fas fa-plus-square mx-1"></i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link link-danger fw-bold" th:href="@{/logout}" title="Logout">
                     Logout
                     <i class="fas fa-sign-out-alt mx-1"></i>
                  </a>
               </li>
            </ul>
            <div id="search-sales-container">
               <form class="d-flex ms-5 mt-4 mt-xl-0" id="search-products-form"
                     method="GET" name="search-products-form"
                     th:action="@{${'/' + API_PATHS_MAP.get('SALES') + '/searchSales'}}">
                  <label class="form-label visually-hidden" for="product-name"></label>
                  <input class="form-control p-2 mx-3" id="product-name"
                         name="product-name" placeholder="Product name"
                         th:maxlength="${FIELD_SIZES_MAP.get('PRODUCT_NAME_MAX_LENGTH')}"
                         th:value="${param != null ? param.get('product-name') : null}"
                         title="Search Sales by them product names"
                         type="text"/>
                  <label class="form-label visually-hidden" for="category">Product Category:</label>
                  <select class="form-select p-2" id="category" name="category"
                          title="Search Sales by them product categories">
                     <option th:value="${null}">All categories</option>
                     <option th:each="productCategoriesEntry : ${productCategoriesMap}"
                             th:id="${productCategoriesEntry.value.name + '#' + productCategoriesEntry.key}"
                             th:name="${productCategoriesEntry.value.name + '#' + productCategoriesEntry.key}"
                             th:selected="${param != null && ((productCategoriesEntry.key + '') == (param.category + ''))}"
                             th:text="${productCategoriesEntry.value.name}"
                             th:value="${productCategoriesEntry.key}"
                     ></option>
                  </select>
                  <button class="form-control btn btn-outline-success form-control mx-3" data-bs-toggle="tooltip"
                          id="submit"
                          title="Search products"
                          type="submit">
                     Search
                     <i class="fas fa-search mx-1"></i>
                  </button>
               </form>
            </div>
         </div>
      </div>
   </nav>
</header>