<div class="row justify-content-center text-center" th:fragment="cartTotalLineInformation(cart)"
     th:with="isOrder=(${isOrder} ?: false)">
   <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-8 mb-5">
      <div class="card border rounded shadow pb-1">
         <div class="card-body">
            <div class="row">
               <h3 class="card-title" th:text="${(isOrder ? 'Order' : 'Cart') + ' total'}"></h3>
               <p class="card-text text-secondary fw-bold" id="cart-total-text"
                  th:text="'Total: ' + ${cart.cartPrice} + ' $'"></p>
               <a class="btn btn-success" id="make-order-button" role="button"
                  th:href="@{'/dashboard/order/' + ${cart.id}}" th:if="${!isOrder}"
                  title="Proceed to pay all the products in your cart">
                  Proceed to Payment
                  <i class="fas fa-receipt ms-1"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>