<div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-8 col-xxl-8" th:fragment="cartLineInformation(cartLineItem)"
     th:title="${cartLineItem.sale.user.credentials.username} + ' ' + ${cartLineItem.sale.product.name} + ' X' + ${cartLineItem.quantity} + ' at ' + ${cartLineItem.sale.product.price} + ' $ in your cart'"
     th:with="isOrder=(${isOrder} ?: false)">
   <div class="card border border-bottom-0 rounded shadow">
      <div class="card-body">
         <div class="row">
            <div th:class="'col-' + ${isOrder ? '4' : '3'}">
               <div th:class="'ms-' + ${isOrder ? '4' : '2'}">
                  <a th:href="@{${'/' + API_PREFIXES_MAP.get('DASHBOARD') + '/sale/' + cartLineItem.sale.id}}">
                     <img class="img-fluid product-image" th:alt="${cartLineItem.sale.product.name}"
                          th:src="@{${cartLineItem.sale.product.imageRelativePaths[0]}}"
                          th:title="${cartLineItem.sale.product.name}"/>
                  </a>
               </div>
            </div>
            <div th:class="'col-' + ${isOrder ? '8' : '5'}">
               <div class="ms-5 mt-2">
                  <h5 class="card-title"
                      th:text="${cartLineItem.sale.product.name}"></h5>
                  <p>
                      <span class="card-text"
                            th:text="${cartLineItem.sale.product.description}">
                     </span>
                     <a th:href="@{${'/' + API_PREFIXES_MAP.get('ACCOUNT') + '/' + cartLineItem.sale.user.credentials.username}}"
                        th:text="${cartLineItem.sale.user.credentials.username}"
                        th:title="'The ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' User who made the Sale.'"></a>
                  </p>
                  <p class="card-text text-secondary fw-bold"
                     th:text="'Price: ' + ${cartLineItem.cartLineItemPrice} + ' $'"></p>
                  <p class="card-text fw-bold" th:text="'Available quantity : ' + ${cartLineItem.sale.quantity}"></p>
               </div>
            </div>
            <div class="col-2" th:if="${!isOrder}">
               <input class="form-control form-control-sm ms-3 mt-5 cartlineitem-quantity-input"
                      data-bs-toggle="tooltip"
                      name="quantity" required
                      th:id="'quantity#' + ${cartLineItem.id}"
                      th:max="${FIELD_SIZES_MAP.get('CARTLINEITEM_QUANTITY_MAX_VALUE')}"
                      th:min="${FIELD_SIZES_MAP.get('CARTLINEITEM_QUANTITY_MIN_VALUE')}"
                      th:object="${cartLineItem}"
                      th:step="${FIELD_SIZES_MAP.get('CARTLINEITEM_QUANTITY_STEP_VALUE')}"
                      th:value="${cartLineItem.quantity}"
                      title="Set Cart Line Product quantity"
                      type="number"
               />
            </div>
            <div class="col-2" th:if="${!isOrder}">
               <button class="btn btn-danger delete-cart-button py-1 mt-5"
                       data-bs-toggle="modal"
                       th:data-bs-target="'#confirm-delete-cartlineitem-modal-' + ${cartLineItem.id}"
                       title="Remove Cart line from Cart"
                       type="button">
                  <i class="fas fa-trash"></i>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div th:replace="~{fragments/dashboard/cart/modal/confirmDeleteCartLineItemModal.html :: confirmDeleteCartLineItemModal(cartLineItem = ${cartLineItem})}"></div>
</div>
