[type="submit"] {
   border: none;
   cursor: pointer;
}

.btn:disabled {
   opacity: 1;
!important;
}

@media (max-width: 767px) {
   img.card-img-top {
      height: 27.5rem;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   img.card-img-top {
      height: 19.5rem;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   img.card-img-top {
      height: 26rem;
   }
}

@media (min-width: 1200px) {
   img.card-img-top {
      height: 18rem;
   }
}

.tooltip {
   color: #FFFFFF;
!important /* Cambia il colore del testo */
border-radius: 10 px;
!important /* Arrotonda i bordi */
box-shadow: 0 0 10 px rgba(0, 0, 0, 0.5);
!important /* Aggiungi ombreggiatura */
font-size: 16 px;
!important /* Cambia la dimensione del testo */
}

.tooltip .tooltip-arrow {

}

.tooltip-inner {
   padding: 10px 13px;
!important /* Aggiungi spaziatura interna */
}

.btn-google {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FFFFFF;
   color: #757575;
   border: 1px solid #DCDCDC;
   border-radius: 0.375rem;
   padding: 0.5rem 0.75rem;
   font-size: 1rem;
   font-weight: 500;
   text-decoration: none;
   box-shadow: 0 2px 4px 0 #00000019;
}

.btn-google:hover {
   background-color: #F5F5F5;
   color: #757575;
   text-decoration: none;
}

.btn-google .google-icon-wrapper {
   background-color: #FFFFFF;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: 0.3rem;
   padding-right: 0.3rem;
}

.btn-google .google-icon-wrapper img {
   width: 18px;
   height: 18px;
}

