<div class="card mt-5" style="width: 21rem;" th:fragment="product(product)">
   <a th:href="@{'/dashboard/product/' + ${product.id}}">
      <!-- .jpeg -->
      <!-- Salvare le immagini senza spazi bianchi, punteggiatura e slash. -->
      <img class="card-img-top" style="height: 18rem"
           th:alt="${product.name}"
           th:src="@{${product.imageRelativePath}}"
           th:title="${product.name}">
      <div class="card-body border">
         <div class="col-12 mt-2">
            <h5 th:text="${product.name}"></h5>
            <p th:text="${product.description}"></p>
         </div>
         <div class="col-12">
            <a class="link-primary text-decoration-underline" th:href="${'#'}" th:text="${'Nome Cognome'}"></a>
         </div>
         <div class="col-12 mt-3">
            <span th:text="${product.price} + ' $'"></span>
            <a class="btn btn-primary mx-4" th:href="@{'/dashboard/order/' + ${product.id}}">
               <i class="fas fa-cart-plus"></i>
            </a>
         </div>
      </div>
   </a>
</div>
