<div class="card text-center shadow mt-5" th:fragment="sale(sale)"
     th:title="${sale.user.credentials.username} + ' ' + ${sale.product.name} + ' X' + ${sale.quantity} + ' at ' + ${sale.product.price} + ' $ ' + ${sale.isSold ? 'sold.' : 'in sale.'}"
     th:with="isLoggedUser=(${isLoggedUser} ?: false), isAddedToCart=(${isAddedToCart} ?: false), isAccountPage=(${isAccountPage} ?: false)">
   <a th:href="@{'/dashboard/sale/' + ${sale.id}}">
      <div class="carousel slide" data-bs-ride="carousel" th:id="'carouselExampleIndicators#' + ${sale.id}">
         <div class="carousel-indicators">
            <button class="active" th:aria-current="${iterStat.count == 1}"
                    th:aria-label="'Slide ' + ${iterStat.count}"
                    th:data-bs-slide-to="${iterStat.count - 1}"
                    th:data-bs-target="'#carouselExampleIndicators#' + ${sale.id}"
                    th:each="productImage, iterStat : ${sale.product.imageRelativePaths}"
                    type="button"></button>
         </div>
         <div class="carousel-inner">
            <div data-bs-interval="2250"
                 th:class="'carousel-item ' + ${productImage == sale.product.imageRelativePaths[0] ? 'active' : ''}"
                 th:each="productImage : ${sale.product.imageRelativePaths}">
               <img class="card-img-top d-block w-100" th:alt="${sale.product.name}" th:src="@{${productImage}}"
                    th:title="${sale.product.name}">
            </div>
         </div>
      </div>
   </a>
   <div class="card-body border">
      <h3 class="card-title" th:text="${sale.product.name}"></h3>
      <p class="card-text" th:text="${sale.quantity} + 'X ' + ${sale.product.description}"></p>
      <p class="card-text fw-bold" th:text="${sale.product.category.name}"></p>
   </div>
   <div class="card-footer">
      <a class="card-link link-primary text-decoration-underline fs-5 ms-1 me-3"
         th:href="@{${'/' + API_PREFIXES_MAP.get('ACCOUNT') + '/' + sale.user.credentials.username}}"
         th:text="${sale.user.credentials.username}"
         th:title="'Go to ' + ${sale.user.credentials.username} + ' ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' account'"
      >
      </a>
      <span class="text-secondary fs-5 ms-2 me-3" th:text="${sale.salePrice} + ' $'"></span>
      <a class="btn btn-primary ms-3 mb-2" data-bs-toggle="tooltip"
         role="button"
         th:href="@{'/' + ${API_PREFIXES_MAP.get('CART')} + '/' + ${sale.id} + '?quantity=' + ${sale.quantity}}"
         th:if="${loggedUser != null && #strings.contains(loggedUser.credentials.role, 'BUYER') && !isLoggedUser && !sale.isSold && !isAddedToCart}"
         th:title="'Add this ' + ${sale.user.credentials.username} + ' ' + ${sale.product.name} + ' to your ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' cart'"
      >
         <i class="fas fa-cart-plus"></i>
      </a>
      <a class="btn btn-warning ms-3 mb-2" data-bs-toggle="tooltip"
         role="button"
         th:href="@{'/' + ${API_PREFIXES_MAP.get('DASHBOARD')} + '/updateSale/' + ${sale.id}}"
         th:if="${!sale.isSold && loggedUser != null && #strings.contains(loggedUser.credentials.role, 'SELLER') && isLoggedUser}"
         title="Modify this Sale.">
         <i class="fas fa-edit"></i>
      </a>
      <span data-bs-toggle="tooltip"
            th:if="${!sale.isSold && loggedUser != null && #strings.contains(loggedUser.credentials.role, 'SELLER') && isLoggedUser && isAccountPage}"
            title="Delete this Sale.">
          <button class="btn btn-danger ms-2 mb-2" data-bs-toggle="modal"
                  th:data-bs-target="'#confirm-delete-sale-modal-' + ${sale.id}"
                  type="button">
         <i class="fas fa-trash"></i>
      </button>
      </span>
      <button class="btn btn-danger ms-3 mb-2" data-bs-toggle="tooltip"
              th:if="${sale.isSold && loggedUser != null && #strings.contains(loggedUser.credentials.role, 'BUYER')}"
              th:title="${sale.product.name} + ' sold out.'"
              type="button">
         <i class="fas fa-times-circle"></i>
      </button>
   </div>
   <div th:replace="~{fragments/dashboard/account/modal/confirmDeleteSaleModal.html :: confirmDeleteSaleModal(sale = ${sale})}"></div>
</div>
