<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Account')}">

</head>
<link rel="stylesheet" th:href="@{/css/dashboard/shared/style.css}"/>
<link rel="stylesheet" th:href="@{/css/dashboard/account/style.css}"/>
<body>
<div th:replace="~{fragments/shared/pagination/header.html :: header()}">
</div>
<main>
   <div class="container" th:with="isLoggedUserAccount = ${true}">
      <div class="row justify-content-center">
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1>Account</h1>
            </div>
         </div>
         <div class="col-12 mt-5">
            <form class="row justify-content-center rounded shadow py-4 px-md-2  border" id="update-account-form"
                  method="POST"
                  name="update-account-form"
                  th:action="@{/dashboard/account/updateAccount}">
               <div
                     th:replace="~{fragments/shared/message/successMessage.html :: successMessage(text = 'Account updated successfully.', condition = ${accountUpdatedSuccessful != null})}"></div>
               <div class="col-12 col-sm-12 col-md-11 col-lg-8 col-xl-5 col-xxl-5 text-center me-3 mt-lg-2 mt-xl-0">
                  <h2 class="mt-4 mt-md-3 mt-lg-3 mt-xl-3 mt-xxl-3 mb-5">User informations</h2>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'name', type = 'text', value =  ${user.name}, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'surname', type = 'text', value =  ${user.surname}, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property ='birth date', type = 'date', value = ${#dates.format(user.birthDate, 'yyyy-MM-dd')}, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'balance', type = 'number', value = ${user.balance}, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'nation', type = 'text', value = ${user.nation}, isSelect = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
               </div>
               <div class="col-12 col-sm-12 col-md-11 col-lg-8 col-xl-5 col-xxl-5 text-center mt-4 mt-xl-0 ms-xl-3">
                  <h2 class="mt-3 mb-5">Account informations</h2>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'username', type = 'text', value = ${credentials.username}, isReadOnly = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'email', type = 'email', value = ${user.email}, isReadOnly = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'registered', type = 'date', value = ${#temporals.format(user.insertedAt, 'dd/MM/YYYY HH:mm')}, isReadOnly = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${user}, property = 'updated', type = 'date', value = ${#temporals.format(user.updatedAt, 'dd/MM/YYYY HH:mm')}, isReadOnly = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
                  <div th:replace="~{fragments/dashboard/account/userLineInformation.html :: userLineInformation(object = ${credentials}, property = 'role', type = 'text', value = ${#strings.capitalize(#strings.replace(credentials.role, '_', ' ').toLowerCase())}, isReadOnly = true, isLoggedUserAccount = ${isLoggedUserAccount})}"></div>
               </div>
               <div class="col-12 mt-5 mb-3" th:if="${isLoggedUserAccount}">
                  <div class="row justify-content-center ">
                     <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <button class="btn btn-lg btn-outline-success form-control py-2" id="submit" type="submit">
                           Confirm
                           <i class="fas fa-check-square ms-1"></i>
                        </button>
                     </div>
                     <div class="col-5 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <button class="btn btn-lg btn-outline-danger form-control py-2" id="cancel-button"
                                type="button">
                           Cancel
                           <i class="fas fa-ban ms-1"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1 th:if="${#sets.isEmpty(saleProducts)}">No sale products</h1>
               <h1 th:text="${isLoggedUserAccount ? 'Your' : 'His'} + ' Sale products'"
                   th:unless="${#sets.isEmpty(saleProducts)}"></h1>
            </div>
         </div>
         <div class="col-12">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"
                    th:each="saleProduct : ${saleProducts}">
                  <div th:replace="~{fragments/shared/sale.html :: sale(sale = ${saleProduct}, isAccountPage = true)}"></div>
               </div>
            </div>
         </div>
         <div class="col-12 mt-5" id="ordered-products">
            <div class="row text-center">
               <h1 th:if="${#sets.isEmpty(orderedProducts)}">No ordered products</h1>
               <h1 th:text="${isLoggedUserAccount ? 'Your' : 'His'} + ' ordered products'"
                   th:unless="${#sets.isEmpty(orderedProducts)}"></h1>
            </div>
         </div>
         <div class="col-12 mb-5">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"
                    th:each="orderedProduct : ${orderedProducts}">
                  <div th:replace="~{fragments/shared/sale.html :: sale(sale = ${orderedProduct.cart.sale}, isAccountPage = true)}"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer.html :: footer()}">
</div>
<script charset="UTF-8" th:src="@{/js/dashboard/account/index.js}" type="text/javascript"></script>
</body>

</html>