<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title = 'Account')}">

</head>
<link href="/css/dashboard/style.css" rel="stylesheet"/>
<body>
<div th:replace="fragments/header.html :: header()">
</div>
<main>
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <p th:text="${loggedUser}"></p>
            <p th:text="${loggedCredentials}"></p>
            <h3>Account</h3>
         </div>
      </div>
      <div class="row">
      
      </div>
   </div>
</main>
<div th:replace="fragments/footer.html :: footer()">
</div>
</body>

</html>