<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Cart')}">

</head>
<link rel="stylesheet" th:href="@{/css/dashboard/shared/style.css}"/>
<link rel="stylesheet" th:href="@{/css/dashboard/cart/style.css}"/>
<body>
<div th:replace="~{fragments/shared/pagination/header.html :: header()}">
</div>
<main>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1 th:text="${!#sets.isEmpty(cartProducts) ? 'Your' : 'No'} + ' Cart Products'">
               </h1>
            </div>
         </div>
         <div class="col-12 my-5" th:with="cartNotDeletedError = ${param.cartNotDeletedError != null}">
            <div
                  th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = 'Cart line not deleted.', condition = ${cartNotDeletedError})}"></div>
            <div class="row justify-content-center" th:each="cartProduct : ${cartProducts}">
               <div th:replace="~{fragments/dashboard/cart/cartLineInformation.html :: cartLineInformation(cart = ${cartProduct})}"></div>
            </div>
            <div th:replace="~{fragments/dashboard/cart/cartTotalLineInformation.html :: cartTotalLineInformation(totalPrice = ${cartTotalPrice})}"></div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer.html :: footer()}">
</div>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/dashboard/cart/index.js}"
        type="text/javascript"></script>
</body>

</html>