<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'DashBoard')}">

</head>
<link rel="stylesheet" th:href="@{/css/dashboard/shared/style.css}"/>
<body>
<div th:replace="fragments/shared/header.html :: header">
</div>
<main>
   <div class="container">
      <div class="row text-center mt-5">
         <div class="col-12">
            <h1 th:if="${!#sets.isEmpty(sales)}">
               DashBoard
            </h1>
            <h1 th:unless="${!#sets.isEmpty(sales)}">
               No products
            </h1>
         </div>
      </div>
      <div class="col-12">
         <div class="row text-center mb-5">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" th:each="sale : ${sales}">
               <div th:replace="fragments/shared/sale.html :: sale(${sale})"></div>
            </div>
         </div>
      </div>
   </div>
</main>
<div th:replace="fragments/shared/footer.html :: footer">
</div>
</body>

</html>