<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title = 'DashBoard')}">

</head>
<link href="/css/dashboard/style.css" rel="stylesheet"/>
<body>
<div th:replace="fragments/header.html :: header()">
</div>
<main>
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <p th:text="${user}"></p>
            <p th:text="${credentials}"></p>
            <h3>Lista di Prodotti:</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-4" th:each="product : ${products}">
            <div th:replace="fragments/product.html :: product(${product})"></div>
         </div>
      </div>
   </div>
</main>
<div th:replace="fragments/footer.html :: footer()">
</div>
</body>

</html>