<!DOCTYPE html>
<html>

<head>
   <title>
      New Movie
   </title>
   <link href="/css/stile.css" rel="stylesheet"/>
</head>

<body>
<header>
   <div th:if="${userDetails}">
      <span th:text="${userDetails.username}"></span>
      <a href="/logout">Logout</a>
   </div>
   <div th:unless="${user}">
      <a href="/login">Login</a>
   </div>
</header>

<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
<h1>Aggiungi un film</h1>
<form method="POST" th:action="@{/templates/dashboard/movie}" th:object="${movie}">
   <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
   </div>
   
   <div>
      <label>Titolo:</label>
      <span><input th:field="${movie.title}" type="text"/></span>
      <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}">
		    </span>
   </div>
   
   <div>
      <label>Anno:</label> <span><input th:field="${movie.year}" type="text"/></span>
      <span th:errors="*{year}" th:if="${#fields.hasErrors('year')}">
		    </span>
   </div>
   
   <div>
      <label>URL immagine:</label> <span><input th:field="${movie.urlImage}" type="text"/></span>
   </div>
   
   <div>
      <span><button type="submit">Conferma</button></span>
   </div>
</form>
</body>

</html>