<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'new Sale')}">

</head>

<body>
<div th:replace="fragments/shared/header.html :: header">
</div>
<main>
   <div class="container">
      <div class="row justify-content-center my-5">
         <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 border rounded p-4">
            <form enctype="multipart/form-data" id="new-sale-form" method="POST"
                  name="new-sale-form" th:action="@{/dashboard/publishNewSale}">
               <div class="text-center mb-4">
                  <h1>
                     New Sale
                     <i class="fab fa-product-hunt mx-1"></i>
                  </h1>
               </div>
               <!-- Campo Nome -->
               <div class="my-3">
                  <label class="form-label" for="name">Name</label>
                  <input class="form-control" id="name" name="name" placeholder="Insert product name"
                         required th:field="${product.name}" th:maxlength="${fieldSizes.get('PRODUCT_NAME_MAX_LENGTH')}"
                         th:minlength="${fieldSizes.get('PRODUCT_NAME_MIN_LENGTH')}"
                         th:object="${product}"
                         type="text"/>
                  <span th:errors="${product.name}" th:if="${#fields.hasErrors('product.name')}"
                        th:style="'color:red'"></span>
               </div>
               <!-- Campo Descrizione -->
               <div class="mb-3">
                  <label class="form-label" for="description">Description</label>
                  <textarea class="form-control" id="description" name="description"
                            placeholder="Insert product description"
                            required th:field="${product.description}"
                            th:maxlength="${fieldSizes.get('PRODUCT_DESCRIPTION_MAX_LENGTH')}"
                            th:minlength="${fieldSizes.get('PRODUCT_DESCRIPTION_MIN_LENGTH')}" th:object="${product}"
                            type="text"></textarea>
                  <span th:errors="${product.description}" th:if="${#fields.hasErrors('product.description')}"
                        th:style="'color:red'"></span>
               </div>
               <!-- Campo Prezzo -->
               <div class="mb-3">
                  <label class="form-label" for="price">Price ($)</label>
                  <input class="form-control" id="price" max="10000" min="0" name="price"
                         placeholder="Insert product price ($)" required step="0.01"
                         th:field="${product.price}" th:max="${fieldSizes.get('PRODUCT_PRICE_MAX_VALUE')}"
                         th:min="${fieldSizes.get('PRODUCT_PRICE_MIN_VALUE')}" th:object="${product}"
                         type="number"/>
                  <span th:errors="${product.price}" th:if="${#fields.hasErrors('product.price')}"
                        th:style="'color:red'"></span>
               </div>
               <!-- Campo Quantità -->
               <div class="mb-3">
                  <label class="form-label" for="quantity">Quantity</label>
                  <input class="form-control" id="quantity" name="quantity"
                         placeholder="Insert product quantity"
                         required th:field="${sale.quantity}" th:max="${fieldSizes.get('SALE_QUANTITY_MAX_VALUE')}"
                         th:min="${fieldSizes.get('SALE_QUANTITY_MIN_VALUE')}"
                         th:object="${sale}" type="number"/>
                  <span th:errors="${sale.quantity}" th:if="${#fields.hasErrors('sale.quantity')}"
                        th:style="'color:red'"></span>
               </div>
               <!-- Campo Categoria (Select) -->
               <div class="mb-3">
                  <label class="form-label" for="category">Category</label>
                  <select class="form-select" id="category" name="category" required th:field="${product.category}"
                          th:object="${product}">
                     <option th:each="productCategory : ${productCategories}" th:field="${product.category}"
                             th:id="${productCategory.name + '#' + productCategory.id}"
                             th:name="${productCategory.name + '#' + productCategory.id}"
                             th:text="${productCategory.name}" th:value="${productCategory.id}"></option>
                  </select>
                  <span th:errors="${product.category}" th:if="${#fields.hasErrors('product.category')}"
                        th:style="'color:red'"></span>
               </div>
               <div class="mb-3">
                  <label class="form-label" for="product-image">Product image</label>
                  <input accept="image/png, image/jpeg, image/jpg, image/" class="form-control" form="new-sale-form"
                         id="product-image"
                         name="product-image" placeholder="Insert product image"
                         required th:size="${fieldSizes.get('PRODUCT_IMAGE_MAX_BYTE_SIZE')}"
                         type="file"/>
                  <span th:style="'color:red'" th:text="${productImageEmptyError}"></span>
               </div>
               <!-- Pulsante di invio -->
               <div class="mt-4">
                  <button class="btn btn-primary form-control py-2" type="submit" value="submit">
                     Publish new Sale
                     <i class="fas fa-plus-square mx-1"></i>
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
<div th:replace="fragments/shared/footer.html :: footer">
</div>
</body>

</html>