<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Stats')}">

</head>
<link href="/css/dashboard/shared/style.css" rel="stylesheet"/>
<body>
<div th:replace="fragments/shared/header.html :: header">
</div>
<main>
   <div class="container">
      <div class="row">
         <div class="col-12 text-center mt-3">
            <h1>Stats</h1>
            <p th:text="${loggedUser}"></p>
            <p th:text="${loggedCredentials}"></p>
         </div>
      </div>
      <div class="row">
      
      </div>
   </div>
</main>
<div th:replace="fragments/shared/footer.html :: footer">
</div>
</body>

</html>