[type="submit"] {
   border: 1px solid #28a745;
!important;
   box-shadow: none;
!important
}

#email-text {
   font-family: Arial, Helvetica, sans-serif;
!important;
   font-style: italic;
!important;
}

@media (max-width: 530px) {
   #email-text {
      font-size: 0.9em;
   !important;
   }
}
