<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'FAQs')}">
</head>

<body>
<div th:replace="~{fragments/shared/pagination/header/baseHeader.html :: baseHeader()}">
</div>
<main>
   <div class="container py-3">
      <div class="row justify-content-center">
         <div class="col-12">
            <div class="row text-center">
               <h1 th:text="${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' FAQs'"></h1>
            </div>
         </div>
         <div class="col-12 mt-5 mb-3">
            <div class="row justify-content-center">
               <div class="accordion" th:each="accordion, iterStat : ${accordions}"
                    th:id="'faq-accordion' + ${iterStat.count}">
                  <div th:replace="~{fragments/FAQaccordion.html :: FAQaccordion(accordion = ${accordion}, index = ${iterStat.count}, isLastAccordion = ${iterStat.count == #maps.size(accordions)})}"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer/footer.html :: footer()}">
</div>
</body>

</html>