<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Home')}">
</head>
<link rel="stylesheet" th:href="@{/css/home/style.css}"/>
<body>
<div th:replace="~{fragments/shared/pagination/header/baseHeader.html :: baseHeader()}">
</div>
<main>
   <div class="container-fluid py-5">
      <div class="row justify-content-start">
         <noscript th:replace="~{fragments/shared/noScript.html :: noScript()}"></noscript>
         <div class="col-8 col-sm-3 col-md-3 col-lg-4 col-xl-5 col-xxl-5 mt-5 ms-5">
            <h1 th:text="${'Welcome to ' + GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">Welcome</h1>
            <p class="lead mt-3">
               Explore our diverse selection of high-quality products sourced from reputable and
               reliable
               sellers, and embark on a journey to discover an array of amazing offerings.
            </p>
            <a class="btn btn-primary mt-2" data-bs-toggle="tooltip"
               role="button" target="_blank"
               th:href="@{/registration}" th:title="${'Register on ' + GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">Sign up
               for
               free</a>
         </div>
      </div>
   </div>
</main>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/effects/index.js}"
        type="text/javascript"></script>
</body>

</html>