<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Login')}">
</head>

<body>
<div class="container">
   <h1>Login</h1>
   <span th:if="${param.registrationSuccessful != null}" th:style="'color:green'">Successfully registered</span>
   <form id="login-form" method="POST" name="login-form" th:action="@{/login}">
      <div class="input-group">
         <label class="form-label" for="username">Username:</label>
         <input class="form-control" id="username"
                name="username"
                placeholder="Insert your username" required th:field="${credentials.username}"
                th:maxlength="${fieldSizes.get('USERNAME_MAX_LENGTH')}"
                th:minlength="${fieldSizes.get('USERNAME_MIN_LENGTH')}"
                type="text"/>
         <span th:errors="${credentials.username}" th:if="${#fields.hasErrors('credentials.username')}"
               th:style="'color:red'"></span>
      </div>
      <br>
      <div class="input-group">
         <label class="form-label" for="password">Password:</label>
         <input aria-describedby="toggle-password" aria-label="Password"
                class="form-control"
                id="password" name="password" placeholder="Insert your password"
                required
                th:field="${credentials.password}" th:maxlength="${fieldSizes.get('PASSWORD_MAX_LENGTH')}"
                th:minlength="${fieldSizes.get('PASSWORD_MIN_LENGTH')}"
                type="password"/>
         <button class="btn btn-outline-secondary" id="toggle-password" type="button">
            <!-- Icona dell'occhio per mostrare/nascondere la password -->
            <i class="fas fa-eye" id="eye-icon"></i>
         </button>
         <span th:errors="${credentials.password}" th:if="${#fields.hasErrors('credentials.password')}"
               th:style="'color:red'"></span>
         <br><br>
      </div>
      <div>
         <span th:if="${param.invalidCredentials != null}" th:style="'color:red'">Username o password errati</span>
      </div>
      <input form="login-form" formmethod="POST" id="submit" name="submit" type="submit" value="Login"/>
   </form>
   <div>
      <a th:href="@{/}">index</a>
      <a th:href="@{/registration}" th:text="Registrati"></a>
   </div>
</div>
<script charset="UTF-8" th:src="@{/js/shared/index.js}" type="text/javascript"></script>
</body>

</html>