<div class="row border rounded py-1 align-items-center"
     th:fragment="userLineInformation(object, property, value, isLoggedUser)"
     th:with="isReadOnly=(${isReadOnly} ?: false), isSelect=(${isSelect} ?: false), type=(${type} ?: '')">
   <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <h6>
         <label class="form-label mt-3" th:for="${property == 'birth date' ? 'birthDate' : property}"
                th:text="${#strings.replace(#strings.capitalize(property), '-password', '') + (property == 'balance' ? '($)' : '' ) + ': '}">
         </label>
      </h6>
   </div>
   <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
      <h6 class="mt-2" th:id="${property} + '-text'" th:if="${(isReadOnly || !isLoggedUser) && !isSelect}"
          th:text="${value} + ${property == 'balance' ? ' $' : ''}"
          th:title="'User ' + ${property}"></h6>
      <h6 class="mt-2" th:if="${isSelect && !isLoggedUser}"
          th:text="${property == 'nation' ? value.name : #strings.capitalize(value.toLowerCase().replace('_', ' '))}"></h6>
      <select class="form-control form-select" th:id="${property}" th:if="${isSelect && isLoggedUser}"
              th:name="${property}"
              th:title="'User ' + ${property}">
         <option th:each="nationEntry : ${nationsMap}" th:id="${nationEntry.value.name + '#' + nationEntry.key}"
                 th:if="${property == 'nation'}"
                 th:name="${nationEntry.value.name + '#' + nationEntry.key}"
                 th:selected="${value != null && nationEntry.key == value.id}" th:text="${nationEntry.value.name}"
                 th:value="${nationEntry.key}"></option>
         <option th:each="roleEntry : ${ALL_ROLES_MAP}" th:field="${credentials.role}"
                 th:id="${roleEntry.key + '#role' }"
                 th:if="${property == 'role'}"
                 th:name="${roleEntry.key + '#role' }"
                 th:selected="${roleEntry.value.toString() == value}"
                 th:text="${#strings.capitalize(roleEntry.key.toLowerCase().replace('_', ' '))}"
                 th:value="${roleEntry.value}"></option>
      </select>
      <div class="input-group">
         <input th:class="'form-control ' + ${isReadOnly || !isLoggedUser ? 'visually-hidden disabled' : ''}"
                th:fieldFormat="${property == 'birth date' ? FIELD_SIZES_MAP.get('DATE_FORMAT') : ''}"
                th:format="${property == 'birth date' ? FIELD_SIZES_MAP.get('DATE_FORMAT') : ''}"
                th:id="${property == 'birth date' ? 'birthDate' : property}"
                th:if="${!isSelect && property != 'registered' && property != 'updated' && property != 'role'}"
                th:max="${property == 'balance' ? FIELD_SIZES_MAP.get('BALANCE_MAX_VALUE') : (property == 'birth date' ? TEMPORALS_MAP.get('BIRTHDATE_MAX_VALUE') : '')}"
                th:maxlength="${FIELD_SIZES_MAP.get(#strings.toUpperCase(property) + '_MAX_LENGTH')}"
                th:min="${property == 'balance' ? FIELD_SIZES_MAP.get('BALANCE_MIN_VALUE') : (property == 'birth date' ? TEMPORALS_MAP.get('BIRTHDATE_MIN_VALUE') : '')}"
                th:minlength="${FIELD_SIZES_MAP.get(#strings.toUpperCase(property) + '_MIN_LENGTH')}"
                th:name="${property == 'birth date' ? 'birthDate' : property}"
                th:object="${object}"
                th:placeholder="${property == 'confirm-password' ? 'Confirm' : 'Update'} + ' your ' + ${#strings.replace(property, 'confirm-', '')}"
                th:required="${(property == 'birth date' || #strings.contains(property, 'password')) ? null : true}"
                th:step="${property == 'balance' ? FIELD_SIZES_MAP.get('BALANCE_STEP_VALUE') : ''}"
                th:title="'User ' + ${property}"
                th:type="${type}"
                th:value="${value}"
         />
         <div th:if="${property == 'password' && isLoggedUser}">
            <div th:replace="~{fragments/shared/showPasswordButton.html :: showPasswordButton()}"></div>
         </div>
      </div>
   </div>
   <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"
        th:title="${(isReadOnly || !isLoggedUser) ? 'Non-editable' : 'Editable'} + ' information'">
      <button
            disabled
            th:class="'btn btn-' + ${(isReadOnly || !isLoggedUser) ? 'danger' : 'primary'}"
            th:if="${property != 'email'}"
            type="button">
         <i th:class="' fas fa-' + ${(isReadOnly || !isLoggedUser) ? 'ban' : 'edit'}"></i>
      </button>
      <button class="btn btn-outline-secondary" id="open-send-email-button" th:unless="${property != 'email'}"
              title="Send an email to this User (Non-editable information)"
              type="button">
         <i class="fas fa-paper-plane"></i>
      </button>
   </div>
</div>
